body {
  height: 150px;
  width: 300px;
  margin: 15px;
  color: white;
  border: 2px solid black;
  border-radius: 15px;
  background-color: grey;
  padding: 30px 30px;
}

.circle_grp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  font-size: 30px;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 50%;
}

.circle:hover {
  background-color: darkgray;
}

.badge_grp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  margin-inline: 50px;
  gap: 30px;
}

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid black;
  color: black;
  font-weight: 600;
  font-size: 1.3rem;
  padding: 10px 30px;
}

.badge:hover {
  background-color: darkgray;
}
